<div class="container">
    <h1>Crear Préstamo</h1>

    <form>
        <mat-form-field>
            <mat-label>Identificador</mat-label>
            <input type="text" matInput placeholder="Identificador" name="id" disabled>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Juego</mat-label>
            <mat-select [(ngModel)]="gameLoan.game" name="game" required>
                <mat-option *ngFor="let game of this.games" [value]="game">
                    {{game.title}}
                </mat-option>
            </mat-select>
            <mat-error>Debe seleccionar un juego</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Cliente</mat-label>
            <mat-select [(ngModel)]="gameLoan.client" name="client" required>
                <mat-option *ngFor="let client of this.clients" [value]="client">
                    {{client.name}}
                </mat-option>
            </mat-select>
            <mat-error>Debe seleccionar un cliente</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Fechas de préstamo</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Fecha de préstamo" [(ngModel)]="gameLoan.loan_date" name="loan_date" required>
                <input matEndDate placeholder="Fecha de retorno" [(ngModel)]="gameLoan.return_date" name="return_date" required>
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker startView="month"></mat-date-range-picker>
        </mat-form-field>
    </form>

    <div class="buttons">
        <button mat-stroked-button (click)="onClose()">Cerrar</button>
        <button mat-flat-button color="primary" (click)="onSave()">Guardar</button>
    </div>
</div>
